.container {
  display: flex;
  gap: 10px;
  flex-direction: column;
  max-width: 350px;
  margin-inline: auto;
}

.levelButton {
  background-color: #444;
  color: #fff;
  border: none;
  padding: 15px 30px; /* Increase padding for larger buttons */
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2em; /* Increase font size */
  transition: background-color 0.3s;
}

.levelButton:hover {
  background-color: #555;
}

.levelButton.active {
  background-color: #007bff;
  color: #fff;
}
