.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #222; /* Dark theme background */
  border-bottom: 1px solid #555;
  color: #fff;
  font-size: 1rem;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logo {
  width: 40px;
  height: 40px;
  margin-right: 0.5rem;
}

.appName {
  font-size: 1.2rem;
  font-weight: bold;
}

.tags {
  display: flex;
  gap: 0.5rem;
}

.tag {
  display: inline-block;
  background-color: #666;
  color: #fff;
  padding: 0.3rem 0.6rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
}
