.container {
  width: 100%;
  height: 46px;
  background: linear-gradient(90deg, #d6d6d6 25%, #ffffff 50%, #d6d6d6 75%);
  background-size: 200% 100%;
  animation: shimmer 1s infinite;
  border-radius: 4px;
  opacity: .5;
  margin: 5px;
}

@keyframes shimmer {
  from {
    background-position: 200% 0;
  }
  to {
    background-position: -200% 0;
  }
}
